<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
   <title>{{appId}} - gamejs.org</title>
<link rel="icon" type="image/x-icon"
href="data:image/x-icon;base64,	AAABAAEAEBAAAAAAAABoBQAAFgAAACgAAAAQAAAAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEA
AAAAAAAAAAAAsXf/ALB6WABn1fAAa2/+AG3MUADdm9kA67BgALLr0ABzqv8AAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAgIA
BgYGAAQEBAAAAAAAAgICAAYGBgAEBAQAAAAAAAICAgAGBgYABAQEAAAAAAAAAAAAAAAAAAAAAAAA
AAAACAgIAAUFBQAHBwcAAAAAAAgICAAFBQUABwcHAAAAAAAICAgABQUFAAcHBwAAAAAAAAAAAAAA
AAAAAAAAAAAAAAEBAQAJCQkAAwMDAAAAAAABAQEACQkJAAMDAwAAAAAAAQEBAAkJCQADAwMAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP//AAD//wAA//8AAMRHAADERwAAxEcAAP//
AADERwAAxEcAAMRHAAD//wAAxEcAAMRHAADERwAA//8AAP//AAA=">

<style type=text/css>
body{
   font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
   background:#fff;
   color:#222;
   line-height:140%;
   margin:1em 0 2em 6em;
   padding:0;
}
</style>
<script>
   var $g = {};
   $g.appId = '{{appId}}';
   $g.resourceBaseHref = '{{resourceHref}}';
   $g.ajaxBaseHref = '{{ajaxHref}}';
</script>
<script src="{{pathToMain}}/main.js?rnd={{rand}}"></script>
</head>
<body>
 <div>
      <canvas id="jsgamecanvas"></canvas>
      <h3> {{appId}} </h3>
      <p>
         Powered by <a href="http://gamejs.org">GameJs</a>.
      </p>
   </div>
</body>
</html>
