<% extends './base.html' %>

<% subskin header %>
   <% if <% statifier %> render statifierStartUp %>
   <% if not <% statifier %> render normalStartUp %>

	<title><% appName %> @ gamejs.org</title>

<% subskin content %>
   <div>
      <h1> <% appName %> </h1>
      <div id="game-header">
      </div>

      <canvas id="jsgamecanvas"></canvas>

      <div id="game-footer">
      </div>
      <p>
         <a href="/"><-- Dashboard</a>
      </p>
   </div>

<% subskin statifierStartUp %>
   <script>
      if (!window.console) {
         window.console = {log: function() {}};
      }
      var $g = {};
      $g.resourceBaseHref = './';
   </script>
   <script src="./javascript/main.js"></script>

<% subskin normalStartUp %>
	<script>
	   var $g = {};
	   $g.appId = '<% appId %>';
	   $g.resourceBaseHref = '<% resourceHref <% appId %> %>';
	   $g.websocketHost = '<% websocketHost %>';
	</script>
	<script src="<% mainScriptHref <% appId %> %>" type="text/javascript" charset="utf-8"></script>
