<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
   <!-- // START WEBSOCKET STUFF -->
   <script type="text/javascript" src="/gamejs-static/web-socket-js/swfobject.js"></script>
   <script type="text/javascript" src="/gamejs-static/web-socket-js/FABridge.js"></script>
   <script type="text/javascript" src="/gamejs-static/web-socket-js/web_socket.js"></script>

   <script>
   WEB_SOCKET_SWF_LOCATION = "/gamejs-static/web-socket-js/WebSocketMain.swf";
   // Set this to dump debug message from Flash to console.log:
   WEB_SOCKET_DEBUG = false;
   </script>

   <!-- // END WEBSOCKET STUFF -->
	<script>
	   var $g = {};
	   $g.assetBaseUrl = '<% assetBaseUrl %>';
	</script>
	<script src="/scripts/app/<% appModule %>/main.js" type="text/javascript" charset="utf-8"></script>
	<title>Gamejs Base Layout</title>
</head>
<body>
    
    <div>
      Welcome To GameJs
      ... loading <span id="gamejs-loading"></span>
    </div>
</body>
</html>
